# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.p~ 

# Virtual environments
.venv/
env/
venv/
ENV/
*.egg-info/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/
local_settings.py

# VSCode
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db

# dotenv
.env
